@import url(https://fonts.googleapis.com/css?family=Rammetto+One);

.site-header {
	background: url('../images/hunting.jpg');
	height: 300px;
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.wrapper {
	width: 100%;
	justify-content: space-around;
}

.site-title {
	font-family: 'Rammetto One', cursive;
	font-weight: 400;
	font-size: 40px;
}

.site-title, .site-title:visited {
	color: #fefefe;
}

.site-nav .page-link {
	font-weight: bolder;
}

h1, h2, h3 {
	font-family: 'Rammetto One', cursive;
	font-weight: 400;
}